# Day 12

In [1]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)

In [49]:
class Student(Person):
    def __init__(self, firstname, lastname, idNumber, scores):
        super().__init__(firstname, lastname, idNumber)
        self.scores = scores
    
    def calculate(self):
        score = sum(self.scores)/len(self.scores)
        
        if score >= 90: grade = "O"
        
        elif score >= 80: grade = "E"
        
        elif score >= 70: grade = "A"
            
        elif score >= 55: grade = "P"
            
        elif score >= 40: grade = "D"
            
        else: grade = "T"
        
        return grade

In [43]:
for i in range(0,100,10):
    print(i, calculate(i))

0 T
10 T
20 T
30 T
40 D
50 D
60 P
70 A
80 E
90 O

In [27]:
Eu = Person("Joao", "Laitano", 77)

In [50]:
Eu = Student("Joao", "Laitano", 77, [1,2,3,4])

In [25]:
Eu.printPerson()

Name: Laitano, Joao
ID: 77

In [51]:
print(Eu.calculate())

T